<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onSidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button class="fs-20" routerLink="/" >Ng Fitness</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a mat-button class="fs-20" routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a mat-button class="fs-20" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a mat-button class="fs-20" routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth">
        <a mat-button class="fs-20" style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
