
a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 25px;
}

.fs-20{
  font-size: 20px;
}